/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/
body{
  background-color:   #115ff4;
} 
#jeopardy th, #jeopardy td {
  border: solid 1px white;
  width: 12em;
  padding: 1em;
}

#jeopardy.table{
  margin-left: auto;
  margin-right: auto;
}

td{
  height: 5em;
  width: 5em;
  background-color: #060ce9;
  text-align: center;
  color: palegoldenrod;
}

thead td{
  height: 3em;
}

tbody td:hover{
  background-color: rgb(77, 82, 240);
}

h1{
  font-size: 2em;
  color: palegoldenrod;
  text-align: center;
}

button{
  text-align: center;
  font-size: 15px;
  margin-left: 0;
  padding: 8px 22px;
  position: inherit;
  background-color: #74119c;
  color: palegoldenrod;
  margin-bottom: 1em;
  border-radius: 8px;
  transition-duration: 0.2s;
}

button:hover{
  background-color: #8d2ab5;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#button-div{
  text-align: center;
}
#table-div{
  text-align: center;
}


.load{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);
  /*change these sizes to fit into your project*/
  width:100px;
  height:100px;
}
.load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}

.load :first-child{background:#19A68C;animation-delay:-1.5s}
.load :nth-child(2){background:#F63D3A;animation-delay:-1s}
.load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
.load :last-child{background:#193B48}

@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}